.content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: left;
}
.image {
  display: inline-block;

  & img {
    width: 60vw;
  }
}
.title {
  & h1 {
    margin: 0;
    font-size: 40px;
    color: red;
  }
  & h2 {
    font-size: 30px;

    margin-left: 10%;
    color: red;
  }
  & p {
    font-size: 20px;

    margin-left: 10%;
    color: red;
  }
}
