.content {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  margin-left: 10%;
  & h1 {
    font-size: 40px;
    color: white;
  }
  & h2 {
    font-size: 30px;

    color: red;
  }
  & p {
    font-size: 20px;

    color: red;
  }
}
